.Sweets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sweet-text-main {
  font-family: "Abril Fatface";
  font-weight: 600;
}

.sweets-text {
  font-size: 1.7vw;
  text-align: flex-start;
}

.sweets-text-p {
  font-size: 1.3vw;
  margin-top: 2vh;
}
